"data/*.csv" 
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
.env/
ENV/
env.bak/

# VS Code
.vscode/

# Data files
*.csv
*.tsv
*.json
*.xlsx
*.xls
*.db
*.sqlite3

# Model weights or checkpoints
*.h5
*.hdf5
*.ckpt
*.pth
*.pt
*.joblib
*.pkl
*.sav

# Logs
*.log

# Large file system
*.lfs
