# Ignore virtual environment
venv/
.env/

# Ignore dataset files
data/*.csv
*.csv

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore model checkpoints and logs
*.h5
*.pkl
*.joblib
*.log

# VS Code settings
.vscode/

# Ignore large files
*.zip
*.tar.gz
*.rar
.DS_Store
